{% extends "base_with_menus.html" %} {% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">
    Add new author
  </h1>
</div>
{% if form.errors %}
<div class="row">
  <div class="col">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>ERROR!</strong> There were errors in your submission, please
      review.
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
{% endif %}
<!-- Content Row -->
<div class="row">
  <!-- Content Column -->
  <div class="col-xl-6 mb-4">
    <form
      class="user"
      method="POST"
      action="/author/add"
      enctype="multipart/form-data"
    >
      {{ form.hidden_tag() }}
      <div class="form-group">
        <label for="first_name">First Name</label>
        {{ form.first_name(class="form-control form-control-user",
        placeholder="First Name") }}
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        {{ form.last_name(class="form-control form-control-user",
        placeholder="Last Name") }}
      </div>
      <div class="form-group">
        <label for="birthdate">Birthdate</label>
        {{ form.birthdate(class="form-control form-control-user", type="date")
        }}
      </div>
      <div class="form-group">
        <label for="country">country</label>
        {{ form.country(class="form-control form-control-user") }}
      </div>
      <div class="form-group">
        <label for="bio">Bio</label>
        {{ form.bio(class="form-control", placeholder="Bio") }}
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
        {{ form.notes(class="form-control", placeholder="Notes") }}
      </div>

      <div class="form-group">
        <label for="picture">Picture</label>
        {{ form.picture(class="form-control-file") }} {% for error in
        form.picture.errors %}
        <small class="text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox small">
          {{ form.keep_adding(class="custom-control-input") }}
          <label class="custom-control-label" for="keep_adding"
            >Continue adding authors after submitting.</label
          >
        </div>
      </div>
      {{ form.submit(class="btn btn-primary btn-user btn-block") }}
    </form>
  </div>
  <div class="col-xl-6 mb-4" id="fadeMatrix">
    {% if authors_matrix%}
    <h2 class="h4 mb-2 text-gray-800">
      Some of your authors...
    </h2>
    {% for author_row in authors_matrix %}
    <div class="row justify-content-center my-1">
      {% for author in author_row %}
      <div class="col-3">
        <img
          width="100%"
          class="img-profile rounded-lg"
          src="{{ url_for('static', filename='img/authors/' + (author.PicturePath if author.PicturePath else 'empty.jpg'))}}"
          data-toggle="tooltip"
          data-placement="top"
          title="{{author.FullName}}"
        />
      </div>
      {% endfor %}
    </div>
    {% endfor %} {% else %}
    <h2 class="h4 mb-2 text-gray-800">
      No authors yet!
    </h2>
    <p>Way to go! Start adding your authors!!</p>
    {% endif %}
  </div>
</div>

{% endblock %}{% block script %}

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

<script src="{{ url_for('static', filename='js/matrix-fade.js') }}"></script>

{% endblock %}
